@charset "utf-8";

/* タイトルエリアの枠組み・画像 */
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* タイトルの文字 */
.title h1 {
  font-family: sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.title p {
  font-size: 14px;
  margin-top: 5px;
}

/* 内容のエリア指定 */
.feature {
  display: flex;
  justify-content: space-between;
  width: 930px;
  max-width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
}

/* basetext（プロフィール）を調整 */
.feature dt{
  clear: both;
	float: left;
	max-width: 500px;
  margin-top: 20px;
  font-weight: bold;
}

.feature dd {
  float: left;
  margin-top: 20px;
  margin-left: 10px;
}


/* 疑似要素の設定 ・棒線*/
.feature-base h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #000000;
  margin-top: 20px;
}

/*内容・画像大きさ */
.feature img {
  width: 300px;
}


/* テキスト幅と余白 */
.feature-text {
  max-width: 550px;
  margin-right: 40px;
}

/* エリアを反転 */
.reverse {
  flex-direction: row-reverse;
}

/* 余白の反転 */
.reverse .feature-text {
  margin-left: 40px;
  margin-right: 0;
}

/* 中見出しの指定 */
.feature-text h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
}

/* 疑似要素の設定 ・棒線*/
.feature-text h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #000000;
  margin-top: 20px;
}

/* 内容の本文 */
.feature-text p {
  font-size: 15px;
  line-height: 28px;
  margin-top: 25px;
}
/* スライドの挿入 */
.g-slide{
  width: 500px;
  height: 282px;
  position: relative;
  overflow: auto;
  padding-top: 65px;
  }
  .g-slide iframe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  }

.footer {
  margin-top:20px;
}

/* モバイル版 */
@media (max-width: 800px) {

  /* 枠の指定 */
  .feature {
    display: block;
    width: 500px;
    margin-top: 45px;
  }

  /* 左右の余白調整 */
  .feature-base dd {
    width: auto;
    margin-left: 10px;
  }

  .feature-text {
    margin-right: 0;
  }

  .reverse .feature-text {
    margin-left: 0;
  }

  /* 画像サイズ調整 */
  .feature img {
    width: 100%;
    height: auto;
    margin-top: 25px;
  }

  .g-slide{
    width: 100%;
    height: auto;
    }
  
}